body {
  background: #f4f6f8;
}

.container {
  width: 500px;
  margin: 60px auto;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

/* form */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.form input,
.form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}

.form button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background: #0056b3;
}

/* task card */
.task {
  display: grid;
  grid-template-columns: 1fr 120px 120px 100px;
  align-items: center;
  background: white;
  padding: 15px 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


.task-title {
  font-weight: 500;
}

/* priority badges */
.priority {
  justify-self: center;
  padding: 6px 14px;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  text-transform: capitalize;
}

.high {
  background: #e74c3c;
}

.medium {
  background: #f39c12;
}

.low {
  background: #2ecc71;
}

.status {
  justify-self: center;
  font-size: 14px;
  color: #555;
}


.actions button {
  margin-left: 8px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn {
  background: #2ecc71;
  color: white;
}

.delete-btn {
  background: #e74c3c;
  color: white;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-bar select {
  width: 150px;
  padding: 10px;
  border-radius: 6px;
}
