.auth-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top:80px ;
  background: linear-gradient(135deg, #eef2f7, #dfe6f0);
}

.auth-card {
  background: #ffffff;
  padding: 40px 35px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 25px;
  font-weight: 600;
  color: #111827;
}

/* Inputs */
.auth-card input,
.auth-card button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Input specific */
.auth-card input {
  border: 1px solid #d1d5db;
  outline: none;
  transition: border 0.2s ease;
}

.auth-card input:focus {
  border-color: #2563eb;
}

/* Button */
.auth-card button {
  background: #2563eb;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.auth-card button:hover {
  background: #1d4ed8;
}

.auth-card p {
  margin-top: 10px;
  font-size: 14px;
}

.auth-card a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.auth-card a:hover {
  text-decoration: underline;
}
